<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <ul class="nav-first-container">
            <li class="nav-first-list">
                <a href="javascript:;">一级菜单</a>
                <ul class="nav-sec-container">
                    <li class="nav-sec-list">
                        <a href="javascript:;">二级菜单</a>
                    </li>
                    <li class="nav-sec-list">
                        <a href="javascript:;">二级菜单</a>
                    </li>
                    <li class="nav-sec-list">
                        <a href="javascript:;">二级菜单</a>
                        <ul class="nav-third-container">
                            <li class="nav-third-list">
                                <a href="javascript:;">三级菜单</a>
                            </li>
                            <li class="nav-third-list">
                                <a href="javascript:;">三级菜单</a>
                            </li>
                            <li class="nav-third-list">
                                <a href="javascript:;">三级菜单</a>
                            </li>
                            <li class="nav-third-list">
                                <a href="javascript:;">三级菜单</a>
                            </li>
                            <li class="nav-third-list">
                                <a href="javascript:;">三级菜单</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-first-list">
                <a href="javascript:;">一级菜单</a>
            </li>
            <li class="nav-first-list">
                <a href="javascript:;">一级菜单</a>
            </li>
            <li class="nav-first-list">
                <a href="javascript:;">一级菜单</a>
            </li>
        </ul>
    </div>
    <script src="/dist/plugins/jquery.min.js"></script>
</body>

</html>